In [1]:
from gather_results import gather_val_res, plot_confusion_matrix
%load_ext autoreload
%autoreload 2

In [2]:
df_agg_res, cm_rr_lstm, cm_seq, classes = gather_val_res()

/home/wenhao/Jupyter/wenhao/workspace/cpsc2021/working_dir/val_res
log file path is set "/home/wenhao/Jupyter/wenhao/workspace/cpsc2021/CPSC2021Reader-CPSC2021.log"
levels of c_handler and f_handler are set DEBUG

In [3]:
cls_cols = ["record", "truth_cls", "final_pred_cls", "final_pred_new_cls", "rr_pred_cls", "seq_pred_cls",]

In [4]:
df_agg_res

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_95_10,"[[0, 72924]]","[[0, 72924]]","[[0, 72924]]","[[0, 72924]]","[[0, 72924]]",AFf,AFf,AFf,AFf,AFf
1,data_33_7,"[[0, 86559]]","[[0, 86559]]","[[0, 86559]]","[[0, 86559]]","[[0, 86559]]",AFf,AFf,AFf,AFf,AFf
2,data_68_22,"[[19235, 20282], [28917, 36981]]","[[19232, 20455], [28844, 36948]]","[[19232, 20455], [28844, 36948]]","[[19260, 20436], [28844, 36948]]","[[19232, 20455], [28920, 36855]]",AFp,AFp,AFp,AFp,AFp
3,data_33_19,"[[0, 174386]]","[[0, 174386]]","[[0, 174386]]","[[0, 174386]]","[[0, 174386]]",AFf,AFf,AFf,AFf,AFf
4,data_75_2,"[[0, 8363]]","[[0, 8363]]","[[0, 8363]]","[[0, 8363]]","[[0, 8363]]",AFf,AFf,AFf,AFf,AFf
...,...,...,...,...,...,...,...,...,...,...,...
287,data_10_1,"[[0, 110368]]","[[0, 110368]]","[[0, 110368]]","[[0, 110368]]","[[26800, 31999], [40000, 58399], [62000, 74047...",AFf,AFf,AFf,AFf,AFp
288,data_93_13,[],[],[],[],[],N,N,N,N,N
289,data_22_11,"[[0, 541137]]","[[0, 541137]]","[[0, 541137]]","[[0, 541137]]","[[0, 541137]]",AFf,AFf,AFf,AFf,AFf
290,data_55_6,[],[],[],[],[],N,N,N,N,N
291,data_68_16,"[[0, 10200]]","[[0, 10191]]","[[0, 10191]]","[[2852, 3268], [9612, 10068]]","[[0, 10191]]",AFp,AFp,AFp,AFp,AFp

In [5]:
df_agg_res[df_agg_res.truth_cls!=df_agg_res.final_pred_cls].reset_index(drop=True)[cls_cols]

,record,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_1_8,N,AFp,N,AFp,N
1,data_1_7,N,AFp,N,AFp,N
2,data_68_2,AFp,AFf,AFf,AFf,AFp
3,data_72_7,N,AFp,N,AFp,N
4,data_1_3,N,AFp,N,AFp,N
5,data_85_2,AFp,AFf,AFf,N,AFf
6,data_1_4,N,AFp,N,AFp,N
7,data_1_5,N,AFp,N,AFp,N
8,data_1_6,N,AFp,N,AFp,N
9,data_72_4,N,AFp,N,AFp,N
10,data_72_2,N,AFp,AFp,AFp,AFp
11,data_1_2,N,AFp,N,AFp,N
12,data_68_15,AFp,AFf,AFf,AFf,AFp
13,data_1_1,N,AFf,AFf,AFf,N
14,data_72_1,N,AFf,AFf,AFp,AFf
15,data_43_10,N,AFp,N,AFp,N
16,data_34_17,N,AFp,N,AFp,N
17,data_1_9,N,AFp,N,N,AFp

In [6]:
df_agg_res[df_agg_res.truth_cls!=df_agg_res.final_pred_new_cls].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_68_2,"[[0, 597119]]","[[0, 648619]]","[[0, 648619]]","[[0, 648619]]","[[0, 597111]]",AFp,AFf,AFf,AFf,AFp
1,data_98_3,"[[24543, 25003]]","[[24636, 25148]]",[],"[[24636, 25148]]",[],AFp,AFp,N,AFp,N
2,data_85_2,"[[0, 12951]]","[[0, 15359]]","[[0, 15359]]",[],"[[0, 15359]]",AFp,AFf,AFf,N,AFf
3,data_72_2,[],"[[0, 23071], [25144, 27599], [31200, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]","[[3156, 19860], [22084, 22652], [33348, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]",N,AFp,AFp,AFp,AFp
4,data_68_15,"[[36042, 539489]]","[[0, 539488]]","[[0, 539488]]","[[0, 539488]]","[[35576, 539488]]",AFp,AFf,AFf,AFf,AFp
5,data_1_1,[],"[[0, 393082]]","[[0, 393082]]","[[0, 393082]]",[],N,AFf,AFf,AFf,N
6,data_72_1,[],"[[0, 39439]]","[[0, 39439]]","[[38660, 39439]]","[[0, 39439]]",N,AFf,AFf,AFp,AFf

In [7]:
df_agg_res[df_agg_res.truth_cls!=df_agg_res.rr_pred_cls].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_1_8,[],"[[14580, 18716], [21820, 23092], [28292, 30128...",[],"[[14580, 18716], [21820, 23092], [28292, 30128...",[],N,AFp,N,AFp,N
1,data_1_7,[],"[[101548, 102288], [160044, 160828], [187200, ...",[],"[[101548, 102288], [160044, 160828], [187200, ...",[],N,AFp,N,AFp,N
2,data_68_2,"[[0, 597119]]","[[0, 648619]]","[[0, 648619]]","[[0, 648619]]","[[0, 597111]]",AFp,AFf,AFf,AFf,AFp
3,data_72_7,[],"[[9900, 10572]]",[],"[[9900, 10572]]",[],N,AFp,N,AFp,N
4,data_1_3,[],"[[62988, 64092], [79876, 80628], [110052, 1112...",[],"[[62988, 64092], [79876, 80628], [110052, 1112...",[],N,AFp,N,AFp,N
5,data_85_2,"[[0, 12951]]","[[0, 15359]]","[[0, 15359]]",[],"[[0, 15359]]",AFp,AFf,AFf,N,AFf
6,data_1_4,[],"[[218628, 220084]]",[],"[[218628, 220084]]",[],N,AFp,N,AFp,N
7,data_1_5,[],"[[11732, 12356], [19460, 20188], [152452, 1533...",[],"[[11732, 12356], [19460, 20188], [152452, 1533...",[],N,AFp,N,AFp,N
8,data_1_6,[],"[[96732, 97484], [101068, 101940], [196548, 19...",[],"[[96732, 97484], [101068, 101940], [196548, 19...",[],N,AFp,N,AFp,N
9,data_72_4,[],"[[2900, 3792], [19980, 23124]]",[],"[[2900, 3792], [19980, 23124], [45660, 46758]]",[],N,AFp,N,AFp,N
10,data_72_2,[],"[[0, 23071], [25144, 27599], [31200, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]","[[3156, 19860], [22084, 22652], [33348, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]",N,AFp,AFp,AFp,AFp
11,data_1_2,[],"[[0, 1204], [8724, 13700], [15004, 16116], [17...",[],"[[8724, 13700], [15004, 16116], [17756, 20796]...",[],N,AFp,N,AFp,N
12,data_68_15,"[[36042, 539489]]","[[0, 539488]]","[[0, 539488]]","[[0, 539488]]","[[35576, 539488]]",AFp,AFf,AFf,AFf,AFp
13,data_1_1,[],"[[0, 393082]]","[[0, 393082]]","[[0, 393082]]",[],N,AFf,AFf,AFf,N
14,data_72_1,[],"[[0, 39439]]","[[0, 39439]]","[[38660, 39439]]","[[0, 39439]]",N,AFf,AFf,AFp,AFf
15,data_43_10,[],"[[1345244, 1346396]]",[],"[[1345244, 1346396]]",[],N,AFp,N,AFp,N
16,data_34_17,[],"[[5172, 6244], [14932, 15980], [17756, 18996]]",[],"[[5172, 6244], [14932, 15980], [17756, 18996]]",[],N,AFp,N,AFp,N

In [8]:
df_agg_res[df_agg_res.truth_cls!=df_agg_res.seq_pred_cls].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_98_3,"[[24543, 25003]]","[[24636, 25148]]",[],"[[24636, 25148]]",[],AFp,AFp,N,AFp,N
1,data_85_2,"[[0, 12951]]","[[0, 15359]]","[[0, 15359]]",[],"[[0, 15359]]",AFp,AFf,AFf,N,AFf
2,data_95_15,"[[0, 33266]]","[[0, 33266]]","[[0, 33266]]","[[0, 33266]]","[[0, 9999], [13600, 33266]]",AFf,AFf,AFf,AFf,AFp
3,data_10_8,"[[0, 656008]]","[[0, 656008]]","[[0, 656008]]","[[0, 656008]]","[[88400, 93599], [482440, 484615]]",AFf,AFf,AFf,AFf,AFp
4,data_10_7,"[[0, 150006]]","[[0, 150006]]","[[0, 150006]]","[[0, 150006]]","[[9200, 23199], [26800, 35871], [40000, 45063]...",AFf,AFf,AFf,AFf,AFp
5,data_10_11,"[[0, 129094]]","[[0, 129094]]","[[0, 129094]]","[[0, 129094]]","[[22840, 24967], [26056, 49599], [53200, 67199...",AFf,AFf,AFf,AFf,AFp
6,data_10_10,"[[0, 570195]]","[[0, 570195]]","[[0, 570195]]","[[0, 570195]]","[[0, 5095], [22400, 31999], [92800, 97999], [1...",AFf,AFf,AFf,AFf,AFp
7,data_10_12,"[[0, 99624]]","[[0, 99624]]","[[0, 99624]]","[[0, 99624]]","[[0, 27855], [28920, 58399], [62208, 64351], [...",AFf,AFf,AFf,AFf,AFp
8,data_10_9,"[[0, 70326]]","[[0, 70326]]","[[0, 70326]]","[[0, 70326]]",[],AFf,AFf,AFf,AFf,N
9,data_10_6,"[[0, 305652]]","[[0, 305652]]","[[0, 305652]]","[[0, 305652]]","[[0, 243199], [246800, 265199], [268800, 305652]]",AFf,AFf,AFf,AFf,AFp
10,data_72_2,[],"[[0, 23071], [25144, 27599], [31200, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]","[[3156, 19860], [22084, 22652], [33348, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]",N,AFp,AFp,AFp,AFp
11,data_91_13,"[[0, 137660]]","[[0, 137660]]","[[0, 137660]]","[[0, 137660]]","[[0, 9999], [13600, 137660]]",AFf,AFf,AFf,AFf,AFp
12,data_10_13,"[[0, 133842]]","[[0, 133842]]","[[0, 133842]]","[[0, 133842]]","[[9200, 23991], [26560, 27583], [31200, 45199]...",AFf,AFf,AFf,AFf,AFp
13,data_72_1,[],"[[0, 39439]]","[[0, 39439]]","[[38660, 39439]]","[[0, 39439]]",N,AFf,AFf,AFp,AFf
14,data_1_9,[],"[[22976, 24007], [40000, 49599], [106000, 1111...",[],[],"[[22976, 24007], [40000, 49599], [106000, 1111...",N,AFp,N,N,AFp
15,data_10_3,"[[0, 99130]]","[[0, 99130]]","[[0, 99130]]","[[0, 99130]]","[[0, 84799], [88400, 99130]]",AFf,AFf,AFf,AFf,AFp
16,data_10_1,"[[0, 110368]]","[[0, 110368]]","[[0, 110368]]","[[0, 110368]]","[[26800, 31999], [40000, 58399], [62000, 74047...",AFf,AFf,AFf,AFf,AFp

In [9]:
df_agg_res[(df_agg_res.truth_cls!="N") & (df_agg_res.seq_pred_cls=="N")].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_98_3,"[[24543, 25003]]","[[24636, 25148]]",[],"[[24636, 25148]]",[],AFp,AFp,N,AFp,N
1,data_10_9,"[[0, 70326]]","[[0, 70326]]","[[0, 70326]]","[[0, 70326]]",[],AFf,AFf,AFf,AFf,N

In [10]:
df_agg_res[(df_agg_res.truth_cls!="AFf") & (df_agg_res.seq_pred_cls=="AFf")].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_85_2,"[[0, 12951]]","[[0, 15359]]","[[0, 15359]]",[],"[[0, 15359]]",AFp,AFf,AFf,N,AFf
1,data_72_1,[],"[[0, 39439]]","[[0, 39439]]","[[38660, 39439]]","[[0, 39439]]",N,AFf,AFf,AFp,AFf

In [11]:
df_agg_res[(df_agg_res.truth_cls!="AFp") & (df_agg_res.seq_pred_cls=="AFp")].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_95_15,"[[0, 33266]]","[[0, 33266]]","[[0, 33266]]","[[0, 33266]]","[[0, 9999], [13600, 33266]]",AFf,AFf,AFf,AFf,AFp
1,data_10_8,"[[0, 656008]]","[[0, 656008]]","[[0, 656008]]","[[0, 656008]]","[[88400, 93599], [482440, 484615]]",AFf,AFf,AFf,AFf,AFp
2,data_10_7,"[[0, 150006]]","[[0, 150006]]","[[0, 150006]]","[[0, 150006]]","[[9200, 23199], [26800, 35871], [40000, 45063]...",AFf,AFf,AFf,AFf,AFp
3,data_10_11,"[[0, 129094]]","[[0, 129094]]","[[0, 129094]]","[[0, 129094]]","[[22840, 24967], [26056, 49599], [53200, 67199...",AFf,AFf,AFf,AFf,AFp
4,data_10_10,"[[0, 570195]]","[[0, 570195]]","[[0, 570195]]","[[0, 570195]]","[[0, 5095], [22400, 31999], [92800, 97999], [1...",AFf,AFf,AFf,AFf,AFp
5,data_10_12,"[[0, 99624]]","[[0, 99624]]","[[0, 99624]]","[[0, 99624]]","[[0, 27855], [28920, 58399], [62208, 64351], [...",AFf,AFf,AFf,AFf,AFp
6,data_10_6,"[[0, 305652]]","[[0, 305652]]","[[0, 305652]]","[[0, 305652]]","[[0, 243199], [246800, 265199], [268800, 305652]]",AFf,AFf,AFf,AFf,AFp
7,data_72_2,[],"[[0, 23071], [25144, 27599], [31200, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]","[[3156, 19860], [22084, 22652], [33348, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]",N,AFp,AFp,AFp,AFp
8,data_91_13,"[[0, 137660]]","[[0, 137660]]","[[0, 137660]]","[[0, 137660]]","[[0, 9999], [13600, 137660]]",AFf,AFf,AFf,AFf,AFp
9,data_10_13,"[[0, 133842]]","[[0, 133842]]","[[0, 133842]]","[[0, 133842]]","[[9200, 23991], [26560, 27583], [31200, 45199]...",AFf,AFf,AFf,AFf,AFp
10,data_1_9,[],"[[22976, 24007], [40000, 49599], [106000, 1111...",[],[],"[[22976, 24007], [40000, 49599], [106000, 1111...",N,AFp,N,N,AFp
11,data_10_3,"[[0, 99130]]","[[0, 99130]]","[[0, 99130]]","[[0, 99130]]","[[0, 84799], [88400, 99130]]",AFf,AFf,AFf,AFf,AFp
12,data_10_1,"[[0, 110368]]","[[0, 110368]]","[[0, 110368]]","[[0, 110368]]","[[26800, 31999], [40000, 58399], [62000, 74047...",AFf,AFf,AFf,AFf,AFp

In [12]:
df_agg_res[(df_agg_res.truth_cls!="N") & (df_agg_res.rr_pred_cls=="N")].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_85_2,"[[0, 12951]]","[[0, 15359]]","[[0, 15359]]",[],"[[0, 15359]]",AFp,AFf,AFf,N,AFf

In [13]:
df_agg_res[(df_agg_res.truth_cls!="AFf") & (df_agg_res.rr_pred_cls=="AFf")].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_68_2,"[[0, 597119]]","[[0, 648619]]","[[0, 648619]]","[[0, 648619]]","[[0, 597111]]",AFp,AFf,AFf,AFf,AFp
1,data_68_15,"[[36042, 539489]]","[[0, 539488]]","[[0, 539488]]","[[0, 539488]]","[[35576, 539488]]",AFp,AFf,AFf,AFf,AFp
2,data_1_1,[],"[[0, 393082]]","[[0, 393082]]","[[0, 393082]]",[],N,AFf,AFf,AFf,N

In [14]:
df_agg_res[(df_agg_res.truth_cls!="AFp") & (df_agg_res.rr_pred_cls=="AFp")].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_1_8,[],"[[14580, 18716], [21820, 23092], [28292, 30128...",[],"[[14580, 18716], [21820, 23092], [28292, 30128...",[],N,AFp,N,AFp,N
1,data_1_7,[],"[[101548, 102288], [160044, 160828], [187200, ...",[],"[[101548, 102288], [160044, 160828], [187200, ...",[],N,AFp,N,AFp,N
2,data_72_7,[],"[[9900, 10572]]",[],"[[9900, 10572]]",[],N,AFp,N,AFp,N
3,data_1_3,[],"[[62988, 64092], [79876, 80628], [110052, 1112...",[],"[[62988, 64092], [79876, 80628], [110052, 1112...",[],N,AFp,N,AFp,N
4,data_1_4,[],"[[218628, 220084]]",[],"[[218628, 220084]]",[],N,AFp,N,AFp,N
5,data_1_5,[],"[[11732, 12356], [19460, 20188], [152452, 1533...",[],"[[11732, 12356], [19460, 20188], [152452, 1533...",[],N,AFp,N,AFp,N
6,data_1_6,[],"[[96732, 97484], [101068, 101940], [196548, 19...",[],"[[96732, 97484], [101068, 101940], [196548, 19...",[],N,AFp,N,AFp,N
7,data_72_4,[],"[[2900, 3792], [19980, 23124]]",[],"[[2900, 3792], [19980, 23124], [45660, 46758]]",[],N,AFp,N,AFp,N
8,data_72_2,[],"[[0, 23071], [25144, 27599], [31200, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]","[[3156, 19860], [22084, 22652], [33348, 38999]]","[[0, 23071], [25144, 27599], [31200, 38999]]",N,AFp,AFp,AFp,AFp
9,data_1_2,[],"[[0, 1204], [8724, 13700], [15004, 16116], [17...",[],"[[8724, 13700], [15004, 16116], [17756, 20796]...",[],N,AFp,N,AFp,N
10,data_72_1,[],"[[0, 39439]]","[[0, 39439]]","[[38660, 39439]]","[[0, 39439]]",N,AFf,AFf,AFp,AFf
11,data_43_10,[],"[[1345244, 1346396]]",[],"[[1345244, 1346396]]",[],N,AFp,N,AFp,N
12,data_34_17,[],"[[5172, 6244], [14932, 15980], [17756, 18996]]",[],"[[5172, 6244], [14932, 15980], [17756, 18996]]",[],N,AFp,N,AFp,N

In [15]:
df_agg_res[(df_agg_res.final_pred_cls!=df_agg_res.seq_pred_cls)].reset_index(drop=True)

,record,truth,final_pred,final_pred_new,rr_pred,seq_pred,truth_cls,final_pred_cls,final_pred_new_cls,rr_pred_cls,seq_pred_cls
0,data_1_8,[],"[[14580, 18716], [21820, 23092], [28292, 30128...",[],"[[14580, 18716], [21820, 23092], [28292, 30128...",[],N,AFp,N,AFp,N
1,data_1_7,[],"[[101548, 102288], [160044, 160828], [187200, ...",[],"[[101548, 102288], [160044, 160828], [187200, ...",[],N,AFp,N,AFp,N
2,data_68_2,"[[0, 597119]]","[[0, 648619]]","[[0, 648619]]","[[0, 648619]]","[[0, 597111]]",AFp,AFf,AFf,AFf,AFp
3,data_98_3,"[[24543, 25003]]","[[24636, 25148]]",[],"[[24636, 25148]]",[],AFp,AFp,N,AFp,N
4,data_72_7,[],"[[9900, 10572]]",[],"[[9900, 10572]]",[],N,AFp,N,AFp,N
5,data_1_3,[],"[[62988, 64092], [79876, 80628], [110052, 1112...",[],"[[62988, 64092], [79876, 80628], [110052, 1112...",[],N,AFp,N,AFp,N
6,data_1_4,[],"[[218628, 220084]]",[],"[[218628, 220084]]",[],N,AFp,N,AFp,N
7,data_1_5,[],"[[11732, 12356], [19460, 20188], [152452, 1533...",[],"[[11732, 12356], [19460, 20188], [152452, 1533...",[],N,AFp,N,AFp,N
8,data_1_6,[],"[[96732, 97484], [101068, 101940], [196548, 19...",[],"[[96732, 97484], [101068, 101940], [196548, 19...",[],N,AFp,N,AFp,N
9,data_95_15,"[[0, 33266]]","[[0, 33266]]","[[0, 33266]]","[[0, 33266]]","[[0, 9999], [13600, 33266]]",AFf,AFf,AFf,AFf,AFp
10,data_72_4,[],"[[2900, 3792], [19980, 23124]]",[],"[[2900, 3792], [19980, 23124], [45660, 46758]]",[],N,AFp,N,AFp,N
11,data_10_8,"[[0, 656008]]","[[0, 656008]]","[[0, 656008]]","[[0, 656008]]","[[88400, 93599], [482440, 484615]]",AFf,AFf,AFf,AFf,AFp
12,data_10_7,"[[0, 150006]]","[[0, 150006]]","[[0, 150006]]","[[0, 150006]]","[[9200, 23199], [26800, 35871], [40000, 45063]...",AFf,AFf,AFf,AFf,AFp
13,data_10_11,"[[0, 129094]]","[[0, 129094]]","[[0, 129094]]","[[0, 129094]]","[[22840, 24967], [26056, 49599], [53200, 67199...",AFf,AFf,AFf,AFf,AFp
14,data_10_10,"[[0, 570195]]","[[0, 570195]]","[[0, 570195]]","[[0, 570195]]","[[0, 5095], [22400, 31999], [92800, 97999], [1...",AFf,AFf,AFf,AFf,AFp
15,data_10_12,"[[0, 99624]]","[[0, 99624]]","[[0, 99624]]","[[0, 99624]]","[[0, 27855], [28920, 58399], [62208, 64351], [...",AFf,AFf,AFf,AFf,AFp
16,data_10_9,"[[0, 70326]]","[[0, 70326]]","[[0, 70326]]","[[0, 70326]]",[],AFf,AFf,AFf,AFf,N
17,data_10_6,"[[0, 305652]]","[[0, 305652]]","[[0, 305652]]","[[0, 305652]]","[[0, 243199], [246800, 265199], [268800, 305652]]",AFf,AFf,AFf,AFf,AFp
18,data_91_13,"[[0, 137660]]","[[0, 137660]]","[[0, 137660]]","[[0, 137660]]","[[0, 9999], [13600, 137660]]",AFf,AFf,AFf,AFf,AFp
19,data_1_2,[],"[[0, 1204], [8724, 13700], [15004, 16116], [17...",[],"[[8724, 13700], [15004, 16116], [17756, 20796]...",[],N,AFp,N,AFp,N
20,data_10_13,"[[0, 133842]]","[[0, 133842]]","[[0, 133842]]","[[0, 133842]]","[[9200, 23991], [26560, 27583], [31200, 45199]...",AFf,AFf,AFf,AFf,AFp
21,data_68_15,"[[36042, 539489]]","[[0, 539488]]","[[0, 539488]]","[[0, 539488]]","[[35576, 539488]]",AFp,AFf,AFf,AFf,AFp
22,data_1_1,[],"[[0, 393082]]","[[0, 393082]]","[[0, 393082]]",[],N,AFf,AFf,AFf,N
23,data_43_10,[],"[[1345244, 1346396]]",[],"[[1345244, 1346396]]",[],N,AFp,N,AFp,N
24,data_34_17,[],"[[5172, 6244], [14932, 15980], [17756, 18996]]",[],"[[5172, 6244], [14932, 15980], [17756, 18996]]",[],N,AFp,N,AFp,N
25,data_10_3,"[[0, 99130]]","[[0, 99130]]","[[0, 99130]]","[[0, 99130]]","[[0, 84799], [88400, 99130]]",AFf,AFf,AFf,AFf,AFp
26,data_10_1,"[[0, 110368]]","[[0, 110368]]","[[0, 110368]]","[[0, 110368]]","[[26800, 31999], [40000, 58399], [62000, 74047...",AFf,AFf,AFf,AFf,AFp